table {
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: white;

}
body {
    background-color: brown;
    width: 60%;
    position: absolute;
    top:10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#inputField {
    margin-bottom: 40px;
    width: 100%;
    height: 30px;
}

#text-input {
    width:80%;
    height: 100%;
}

#send-button {
    width:19%;
    height: 100%;
    font-weight: bold;
    float: right;
}


.userColumn {
    width: max-content;
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.timeColumn {
    width: max-content;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.messageColumn {
    width: 100%;
    float: bottom;
    word-wrap:break-word;
    text-align: left;
    background-color: blanchedalmond;
}

#loginField {
    width: 200px;
    height: max-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    transform: scale(2);
    text-align: center;
    background-color: indianred;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}


#usernameField, #passwordField, #loginButton {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
    box-sizing:border-box;
    border: 1px solid darkred;
    text-align: center;
}

#headerDiv {
    height: 100px;
    width: 100%;
}

#logOutButton {
    float:right;
    height: 75px;
    width: 20%;
    border-radius: 3px;
    background-color: darkred;
    border-color: indianred;
}
#logOutButton:hover {
    background-color: indianred;
    border-color: darkred;
}

#header {
    float: left;
    height: 75px;
    width: 80%;
    color: white;
}

.infoRow {
    color: darkblue;
    padding-bottom: 5px;
}